{% extends 'base.html.twig' %}

{% block title %}Spirits rating{% endblock %}

{% block body %}

    <div class="px-4 py-5 text-center d-flex vh-100 flex-column justify-content-center">
        <span class="fs-1">🥃</span>
        <h1 class="display-5 fw-bold">Spirits rating</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Rate spirits after tasting them.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/rating" class="btn btn-primary btn-lg px-4 gap-3">Enter</a>
            </div>
        </div>
    </div>

{% endblock %}
